//- berriak.jade
div.container.marketing
    div.row
        div.col-lg-12
            if hizkuntza == "es"
                h1.page-header Actividades
                    small &nbsp;&nbsp;Aquí encontraras todas las actividades en las que participa el club.
            else
                h1.page-header Jarduerak
                    small &nbsp;&nbsp;Klubak parte hartzen duen jarduera gutiak hemen aurki ditzakezu.
    div.row
        div#col_first.col-sm-6.col-md-4
            -each val,ind in data
                div.thumbnail(date='#{val["date"]}')
                    if val['img']
                        img.img-circle(src='#{val["img"]}')
                    div.caption
                        h3 #{val["title_"+hizkuntza]}
                        p.blog-post-meta #{toDateString(val['date'], hizkuntza)}
                        p #{val["text_"+hizkuntza]}
                        p
                            a.btn.btn-default(href='/#{hizkuntza}/jarduerak/#{val["_id"]}' role='button') #{hizkuntza == "es"?"Ver noticia":"Ikusi berria"} »
        div#col_second.col-sm-6.col-md-4
        div#col_third.col-sm-6.col-md-4
    nav.text-center
        ul.pagination
            if data.page == 1
                li.disabled
                    span(aria-hidden="true") &larr;
            else
                li
                    a(href='/#{hizkuntza}/jarduerak?page=#{(parseInt(data.page)-1)}')
                        span(aria-hidden="true") &larr;
            li
            - var n = 0
            while n < data.pages
                li(class="#{(n+1)==data.page?'active':''}")
                    a(href='/#{hizkuntza}/jarduerak?page=#{(n+1)}')
                        span= ++n
            if data.page == data.pages
                li.disabled
                    span(aria-hidden="true") &rarr;
            else
                li
                    a(href='/#{hizkuntza}/jarduerak?page=#{(parseInt(data.page)+1)}')
                        span(aria-hidden="true") &rarr;
script(src="/js/cols.js" type="text/javascript")